<a href="https://colab.research.google.com/github/Manisha1896/python/blob/main/Database_SQL_11_14July23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#  import database library and create required table
import sqlite3

In [ ]:
#  connect to database (sqlite)
connection = sqlite3.connect('test.db')

In [ ]:
# cursor helps to run SQL commands one by one
cur = connection.cursor()
cur.execute("CREATE TABLE employee (eid TEXT , name TEXT , city TEXT)")

In [ ]:
# Insert first record in employee table
cur.execute("INSERT INTO employee VALUES ('emp-01','Amit','Pune' )")

In [ ]:
# Display all records
list(cur.execute("SELECT * FROM employee"))

[('emp-01', 'Amit', 'Pune')]

In [ ]:
# Insert second record in employee table
cur.execute("INSERT INTO employee VALUES ('emp-02','Rohan','Mumbai' )")

In [ ]:
# Display all records
list(cur.execute("SELECT * FROM employee"))

[('emp-01', 'Amit', 'Pune'), ('emp-02', 'Rohan', 'Mumbai')]

In [ ]:
#  Update Rohan's location
cur.execute("UPDATE employee SET city='Pune' WHERE eid='emp-02' ")

In [ ]:
# Display specific record
list(cur.execute("SELECT * FROM employee WHERE eid='emp-02' "))

[('emp-02', 'Rohan', 'Pune')]

In [ ]:
cur.execute("DELETE FROM employee WHERE eid='emp-02' ")

In [ ]:
# Display specific record
list(cur.execute("SELECT * FROM employee WHERE eid='emp-02' "))

[]

In [ ]:
list(cur.execute("SELECT * FROM employee"))

[('emp-01', 'Amit', 'Pune')]

Assignment-01 : https://docs.google.com/document/d/1zqXUUqsHyi-qlb98LLkwWx30y3llmVt9zgt9YEATao8/edit?usp=sharing

12-Juy-23

In [ ]:
#  import database library and create required table
import sqlite3
# import flask library
from flask import Flask

# create object for Flask
app = Flask(__name__)

@app.route('/show')
def showall():
    connection = sqlite3.connect('test1.db')
    cur = connection.cursor()
    cur.execute("CREATE TABLE IF NOT EXISTS employee (eid TEXT , name TEXT , city TEXT)")
    cur.execute("INSERT INTO employee VALUES ('emp-01','Amit','Pune' )")
    connection.commit()
    emp = list(cur.execute("select * from employee"))
    return {'Records':emp}

app.run(port=5000)

 * Serving Flask app '__main__'
 * Debug mode: off

INFO:werkzeug:WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
INFO:werkzeug:Press CTRL+C to quit

13 July-23

In [ ]:
#  import database library and create required table
import sqlite3
# import flask library
from flask import Flask,request

# create object for Flask
app = Flask(__name__)

@app.route('/register', methods = ['POST'])
def register():
    emp_data = request.get_json()
    connection = sqlite3.connect('test5.db')
    cur = connection.cursor()
    cur.execute("CREATE TABLE IF NOT EXISTS employee (eid TEXT , name TEXT , city TEXT)")
    cur.execute("INSERT INTO employee VALUES ('{}','{}','{}' )".format(emp_data['eid'],emp_data['name'],emp_data['city']))
    connection.commit()
    return {'INFO':'Record registered in database'}

@app.route('/show')
def showall():
    connection = sqlite3.connect('test5.db')
    cur = connection.cursor()
    emp = list(cur.execute("select * from employee"))
    return {'Records':emp}

app.run(port=5000)

 * Serving Flask app '__main__'
 * Debug mode: off

INFO:werkzeug:WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
INFO:werkzeug:Press CTRL+C to quit

{"eid":"103","name":"Sumit","city":"Mumbai"}

In [ ]:
print("INSERT INTO employee VALUES ('{}','{}','{}' )".format('1','Amit','Pune'))

INSERT INTO employee VALUES ('1','Amit','Pune' )

In [ ]:
print("INSERT INTO employee VALUES ('{}','{}','{}' )".format('2','Allen','Mumbai'))

INSERT INTO employee VALUES ('2','Allen','Mumbai' )

In [ ]:
emp_data = {'eid':'101','name':'Smith','city':'Pune'}
print("INSERT INTO employee VALUES ('{}','{}','{}' )".format(emp_data['eid'],emp_data['name'],emp_data['city']))

INSERT INTO employee VALUES ('101','Smith','Pune' )

CRUD operations - Create , Read(Select) , Update , Delete

In [ ]:
#  import database library and create required table
import sqlite3
# import flask library
from flask import Flask,request

# create object for Flask
app = Flask(__name__)

@app.route('/register', methods = ['POST'])
def register():
    emp_data = request.get_json()
    connection = sqlite3.connect('test5.db')
    cur = connection.cursor()
    cur.execute("CREATE TABLE IF NOT EXISTS employee (eid TEXT , name TEXT , city TEXT)")
    cur.execute("INSERT INTO employee VALUES ('{}','{}','{}' )".format(emp_data['eid'],emp_data['name'],emp_data['city']))
    connection.commit()
    return {'INFO':'Record registered in database'}

@app.route('/update', methods = ['POST'])
def update():
    emp_data = request.get_json()
    connection = sqlite3.connect('test5.db')
    cur = connection.cursor()
    cur.execute("UPDATE employee SET city = '{}' where eid = '{}'".format(emp_data['city'],emp_data['eid']))
    connection.commit()
    return {'INFO':'Record updated in database'}

@app.route('/delete', methods = ['POST'])
def delete():
    emp_data = request.get_json()
    connection = sqlite3.connect('test5.db')
    cur = connection.cursor()
    cur.execute("DELETE FROM employee where eid = '{}'".format(emp_data['eid']))
    connection.commit()
    return {'INFO':'Record deleted from database'}

@app.route('/show')
def showall():
    connection = sqlite3.connect('test5.db')
    cur = connection.cursor()
    emp = list(cur.execute("select * from employee"))
    return {'Records':emp}

app.run(port=5000)

How to update multiple values : UPDATE TABLENAME SET col1= value1 , col2 = value2 where condition

14 July 2023

Assignment - 02 : https://docs.google.com/document/d/1vXGJnZbl8SJctsbuiEAIcPSBQNuFVs3WAoIAlUH78Xg/edit?usp=sharing

Assignment - 03 : https://docs.google.com/document/d/1OTXqBKbp5eIpBRfNFMVacyUV-CWSi6xH_N3HZ79pjic/edit?usp=sharing

Assignment - 04 : https://docs.google.com/document/d/1f-Xj9NYNIn9cXsWOirDICQNixrqO973tJrOwchGCFoU/edit?usp=sharing

Class Notes : 17-July-2023  , https://colab.research.google.com/drive/1SDB6v_hCuVyMQtV4dSEwCSsbyjbmOUz0?usp=sharing